<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.vadik.instaclimb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/arrow_up"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".routes.example.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.vadik.instaclimb.HomeActivity" />
        </activity>

        <activity
            android:name=".routes.RouteListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".routes.RouteDetailActivity"
            android:label="@string/title_route_detail"
            android:parentActivityName=".routes.RouteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.vadik.instaclimb.routes.RouteListActivity" />
        </activity>

        <provider
            android:name=".routes.RoutesContentProvider"
            android:authorities="me.vadik.instaclimb.routes.provider"
            android:exported="false" />

        <activity
            android:name=".routes.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".routes.RouteListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.vadik.instaclimb.routes.RouteListActivity" />
        </activity>

        <activity
            android:name=".routes.RouteImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
